.orderRequestColumnsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderColumnNameWrapper {
  display: flex;
}

.orderColumnName {
  color: rgb(147, 187, 247);
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 3px;
  width: 200px;
  border-right: 1px solid rgb(210, 206, 206);
}

.orderColumnNameDb {
  color: rgb(147, 187, 247);
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 3px;
  width: 200px;
  border-right: 1px solid rgb(210, 206, 206);
  cursor: pointer;
}

.orderRequestColumnsButton {
  width: 50px;
  height: 50px;
  background-color: rgb(41, 105, 201);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 36px;
  font-weight: 500;
}

.orderColumnDelete {
  cursor: pointer;
}

.orderRequestColumnsAdd {
  display: block;
  margin-bottom: 20px;
}

.activeColumnAddArea {
  display: flex;
  z-index: 99;
}

.diActiveColumnAddAre {
  display: none;
}

.activeORC {
  background-color: rgb(201, 196, 196);
  padding: 5px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

.notActiveORC {
  cursor: pointer;
}

.orderRequestColumnsChecking {
  display: flex;
  justify-content: space-around;
}
