.signIn {
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  min-height: 80%;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signInTitle {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(38, 61, 238);
}

.signInFormInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInInputEmail {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.signInInputPassword {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.signInInputCompany {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.signInError {
  color: red;
  font-size: 16px;
  text-align: center;
}

.signInButtonWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.signInButton {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(38, 61, 238);
  font-size: 20px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}
