.adminEmployees {
  width: 80vw;
}

.adminEmployeesWrapper {
  width: 100%;
}

.adminEmployeesTitle {
  font-size: 32px;
  font-weight: 500;
  color: rgb(41, 105, 201);
  margin-left: 45%;
}

.adminEmployeesBody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 0px;
  margin-top: 10px;
}

.adminEmployee {
  width: 90%;
}
